.heading {
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px blue;
}

.side_square {
    font-size: 20px;
    color: greenyellow;
}

.note {
    font-size: 15px;
}

.n {
    color: red;
}

.footer {
    color: yellow;
    background-color: blue;
    bottom: 0;
    line-height: 3;
    width: 100%;
    position: fixed;
    box-shadow: 5px 5px 5px blue;
}

canvas {
    border: 5px ridge yellow;
    box-shadow: 5px 5px 5px blue;
}